<h1>Posts</h1>

<span *ngIf="isLoading$ | async" class="loader"></span>

<div *ngIf="isError$ | async" class="reload-button-block">
  <button class="reload-button" (click)="loadPosts()">Reload</button>
</div>

<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div
    class="post-item"
    *ngFor="let post of posts$ | async"
  >
    <div class="post-item-title">{{post.title}}</div>
    <div class="post-item-content">{{post.body}}</div>
    <div class="post-item-comments-button">
      <a (click)="openComments(post.id)">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#434343">
          <path d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z"/>
        </svg>
      </a>
    </div>
  </div>
</div>
