<div class="comments">
  <h2>Comments fop post #{{postId}}</h2>

  <span *ngIf="isListLoading$ | async" class="loader"></span>
  <div *ngIf="isListLoadingError$ | async" class="reload-button-block">
    <button class="reload-button" (click)="loadComments()">Reload</button>
  </div>

  <div id="comments-list">
    <div
      class="comment"
      *ngFor="let comment of comments$ | async"
    >
      <h3>{{comment.name}}</h3>
      <div class="email">{{comment.email}}</div>
      <p>{{comment.body}}</p>
    </div>
  </div>
</div>

<div *ngIf="!(isListLoading$ | async) && !(isListLoadingError$ | async)" class="comment-form">
  <h3>Add new comment</h3>
  <input type="text" id="name" placeholder="Your name" required [(ngModel)]="nameProperty">
  <input type="email" id="email" placeholder="Your email" required [(ngModel)]="emailProperty">
  <textarea id="body" rows="4" placeholder="Your comment" required [(ngModel)]="bodyProperty"></textarea>
  <button (click)="addComment()">Upload comment</button>
</div>

<div *ngIf="isCommentUploading$ | async" class="comment-uploading">
  <div class="circle-loader"></div>
</div>
